body {
  font-family: sans-serif;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 100px;
}

.Image-disp{
	max-width:300px;
}


.TodoPage-title {
  font-size: 20px;
  line-height: 1.6;
  color: #453c52;
  font-weight: 600;
  margin-bottom: 12px;
}

h1.Todopage-title{
	color: darkcyan;
}

.PageTitle{
	color: darkorange;
}

.TodoSection {
  margin-bottom: 32px;
	margin-left: 32px;
	/*padding: 32px;*/
}


.TodoSection-head {
  display: flex;
  height: 24px;
  align-items: stretch;
  margin-bottom: 24px;
}
.TodoSection-SubSection{
  display: flex;
}
.TodoSection-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
  margin-right: 8px;
  line-height: 1.4;
  color: #453c52;
}

.TodoSection-counter{
  font-weight: 500;
  font-size: 13px;
}
.TodoSectionTitle {
  display: flex;
  color: #453c52;
  align-items: center;
  margin-bottom: 8px;
}

.TodoSectionTitle-text {
  font-size: 14px;
  font-weight: 600;
  margin-right: 8px;
  line-height: 1.4;
}

.TodoSectionTitle-remainingCount {
  font-size: 12px;
}

.TodoItem {
  font-size: 14px;
  margin-left: 8px;
  margin-bottom: 6px;
  color: #453c52;
}

.Todosection-todo {
	font-size: 20px;
	line-height: 1.2;
	margin-left: 32px;
	color: #453C52;
}

.AppendTodo-text {
  padding: 6px 6px;
  font-size: 12px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #bfb8cc;
  color: #453c52;
}

.AppendTodo-button{
  border: 1px solid transparent;
  background-color: #48bb78;
}
