<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ToDO Manager App</title>
  <!---<link rel="stylesheet" type="text/css" href="reset.css">--->
  <link rel="stylesheet" type="text/css" href="myapp.css">
</head>
<body>
  <main class="TodoMain">
  <img class="Image-disp" src="img1.jpg" />
<article>
  <h1 class="Todopage-title">My Todo-list</h1>
  <section class="TodoSection">
    <h2 class="Todosection-title">Due Today</h2>
    <p class="Todosection-todo">Submist SaaS 201 project</p>
    <p class="Todosection-todo">Call accountanat</p>
  </section>
  <section class="TodoSection">
    <h2 class="Todosection-title">Due Tomorrow</h2>
    <p class="Todosection-todo">Refill groceries</p>
  </section>
</article>
</body>
</html>

